/* This demo stylesheet ONLY styles the nav menu. */
a {
    color:#7c2282;
    text-decoration:none;
    text-transform:uppercase;
}
nav {
    background-color:#7c2282;
    font-family:verdana,arial,times,serif;
    font-size:.875em;
    overflow:hidden;
    padding-left:2%;
}
nav ul {
    padding:0;
    margin:0;
}
nav ul li {
    list-style-type:none;
    float:left;
    position:relative;
    padding:0;
    margin:0;
}
nav ul li a {
    display:block;
    color:#fff;
    padding:.875em .625em;
    margin:0;
}
nav ul li a:hover,
nav ul li a:focus {
    background-color:#fff;
    color:#7c2282;
    text-decoration:none;
    font-weight:normal;
}
/* These selectors style the active page's menu */
#menu .menu a{
    color:#7c2282;
    background-color:#fff;
    pointer-events:none;
}